

    <div class="container">
        <section class="mb-4">
            <h2 class="display-4 text-center my-5">Thank You for Contacting Me!</h2>
            <p class="lead text-center my-5">I will reach out to you as soon as possible.</p>
        </section>
        <hr class="my-4">
    </div>
    <div class="text-center pl-3">
        <p>Please feel free to explore some more or fill me in on anything you may have forgot to mention.</p>
    </div>
    <div class="text-center pt-3 pd-2">
        <button type="button" class="btn btn-dark btn-lg mx-2" (click)="goToHome()">Home</button>
        <button type="button" class="btn btn-dark btn-lg mx-2" (click)="goToContactForm()">Back</button>
    </div>
