<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Confirmed</title>
</head>
<body>

    <div class="container">
        <section class="mb-4">
            <h2 class="font-weight-bold text-center my-5">Thank You for Contacting Me!</h2>
            <p class="font-weight-bold text-center my-5">I will reach out to you as soon as possible.</p>
        </section>

        <div class="row">
            <div class="col-md-9 mb-md-0 mb-5">
                <button mat-stroked-button color="primary" (click)="goToHome()">Primary</button>
                <button mat-stroked-button color="primary" (click)="goToContactForm()">Primary</button>
                
            </div>
        </div>
    </div>
    
</body>
</html>
