
    <div class="container" style="padding-top: 20px;">
        <section>
            <h1 class="font-weight-bold text-center my-5">Contact Me</h1>
            <p class="text-center mx-auto mb-5">If you have any questions or just want to have a quick chat, feel free to contact me directly!</p>

            <div class="row justify-content-center align-items-center">
                <div class="col-md-9 mb-md-3 mb-5">
                        <div class="container">
                            <form action="https://formsubmit.co/Keshawn287@gmail.com" method="POST" class="mt-1 text-center">
                                <!--Honeypot to catch spam; replacement for FormSubmit spam catcher-->
                                <input type="text" name="_honey" style="display: none;">

                                <!--Disable Captcha-->
                                <input type="hidden" name="_captcha" value="false">
                                <input type="hidden" name="_next" value="https://keshawn287.github.io/KeshawnThomasPortfolio/success-page">
                                <div class="form-row">
                                    <div class="form-group">
                                        <mat-form-field class="form-group-width" appearance="fill">
                                            <mat-label>Name</mat-label>
                                            <input matInput name="name" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="form-group-width" appearance="fill">
                                            <mat-label>Email</mat-label>
                                            <input matInput name="email" type="email" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="form-group-width" appearance="fill">
                                            <mat-label>Phone</mat-label>
                                            <input matInput name="phone" type="tel">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="form-group-width" appearance="fill">
                                            <mat-label>Subject</mat-label>
                                            <input matInput name="subject" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="form-group-width" appearance="fill">
                                            <mat-label>Enter Message</mat-label>
                                            <textarea matInput name="message" rows="6" required></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-dark">Submit</button>
                            </form>
                        </div>
                </div>
            </div>
        </section>
    </div>

<!--

<div class="container">
    <section class="mb-4">
        <h2 class="font-weight-bold text-center my-5">Contact me</h2>
        <p class="text-center w-responsive mx-auto mb-5">If you have any questions or just want to have a quick chat, feel free to contact me directly!</p>
    </section>

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form action="https://formsubmit.co/Keshawn287@gmail.com" method="POST">

                Honeypot to catch spam; replacement for FormSubmit spam catcher
                <input type="text" name="_honey" style="display: none;">

                Disable Captcha

                <input type="hidden" name="_captcha" value="false">

                <input type="hidden" name="_next" value="https://keshawn287.github.io/KeshawnThomasPortfolio/success-page">



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingName" name = "name" placeholder="name" required>
                            <label for="floatingName">Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" name = "email" placeholder="name@example.com" required>
                        <label for="floatingEmail">Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingSubject" name = "subject" placeholder="subject" required>
                            <label for="floatingSubject">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="floatingMessage" style="height: 100px" name = "message" placeholder="message" required></textarea>
                            <label for="floatingMessage">Enter Message</label>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 text-center text-primary">
            <ul class="list-unstyled mb-0">
                <li><i class="bi bi-geo-alt-fill mt-4 " style="font-size: 2rem"></i></li>
                <p class="text-center">Metro Atlanta Area</p>

                <li><i class="bi bi-envelope-at-fill mt-4" style="font-size: 2rem"></i></li>
                <p class="text-center">Keshawn287@gmail.com</p>
            </ul>
        </div>
    </div>
</div>

-->
