.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
}

/* Questions */
.question {
  margin-right: 20px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 15px;
  
}

.content{
  
}



/* Media queries for responsiveness */
@media (max-width: 768px) {
  .section-container {
      flex-direction: column;
      height: auto;
  }

  .question {
      margin-bottom: 15px;
  }
}