<!--<div class="container text-center">
    <section>
        <mat-card-title>About Me</mat-card-title>
        <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
            <div class="col-md-6" style="white-space: nowrap;" >
                <mat-card-content>
                    Who am I?
                </mat-card-content>
            </div>
            <div class="col-md-6" style="white-space: nowrap;">
                <mat-card-content>
                    Testhhhhhhhhhhhhhhhhhhhhhhhhhhhhh<br>
                </mat-card-content>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-6" style="white-space: nowrap;">
                <mat-card-content>
                    My Experience?
                </mat-card-content>
            </div>
            <div class="col-md-6" style="white-space: nowrap;">
                <mat-card-content>
                    In May of 2020, I graduated from Georgia<br>
                    State University with a Bachelors Degree<br>
                    in Computer Science. I am currently a<br> 
                    Software Developer for General Motors.<br> 
                </mat-card-content>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-6" style="white-space: nowrap;">
                <mat-card-content>
                    What do I do fun?
                </mat-card-content>
            </div>
            <div class="col-md-6" style="white-space: nowrap;">
                <mat-card-content>
                    Testhhhhhhhhhhhhhhhhhhhhhhhhhhhhh<br>
                </mat-card-content>
            </div>
        </div>
    </section>
</div>
-->
<h1 style="text-align: center;">About Me</h1>
<div fxLayout="row" fxLayoutAlign="center center" class="section-container">
    <div class="question">Who am I?</div>
    <div class="content">
        <p>Your "Who am I?" content goes here...</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="section-container">
    <div class="question">My Experience</div>
    <div class="content">
        <p>In May of 2020, I graduated from Georgia State University</p>
            
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="section-container">
    <div class="question">What I do for Fun?</div>
    <div class="content">
        <p>Your "What I do for Fun?" content goes here...</p>
    </div>
</div>
