/*.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -50px;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: black;
}
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: tan; /* set to match container-fluid background */
  z-index: 2; /* ensure header is above container-fluid */
}

