<div class="container" style="padding-top: 50px;">
  <Section>
    <h1 class=" header text-center">Works Page</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-container">
          <app-project-structure
            projectTitle="Project 1 Title"
            projectSubtitle="Project 1 Subtitle"
            projectImage="assets/project1-image.jpg"
            projectDescription="Project 1 description">
          </app-project-structure>
        </div>
        <div class="card-container">
          <app-project-structure
            projectTitle="Project 2 Title"
            projectSubtitle="Project 2 Subtitle"
            projectImage="assets/project2-image.jpg"
            projectDescription="Project 2 description">
          </app-project-structure>
        </div>
        <!-- Add more card containers here as needed -->
        <div class="card-container">
          <app-project-structure
            projectTitle="Project 2 Title"
            projectSubtitle="Project 2 Subtitle"
            projectImage="assets/project2-image.jpg"
            projectDescription="Project 2 description">
          </app-project-structure>
        </div>
      </div>
    </div>
  </Section>
</div>