<div class="container">
    <section style="flex: 1; display: flex; flex-direction: column; align-items: center; padding-top: 50px;">
        <h1 style="margin-bottom: 20px;">Skills</h1>
        <div class="grid-container" style="padding-top: 20px;">
            <div class="col">
              <mat-list>
                  <i class="fa-brands fa-html5" style="font-size: 5em;"></i>
                  <p style="padding-top: 10px; text-align: center;">HTML5</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                  <i class="fa-brands fa-css3" style="font-size: 5rem;"></i>
                  <p style=" padding-top: 10px; text-align: center;">CSS</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                  <i class="fa-brands fa-square-js" style="font-size: 5rem;"></i>
                  <p style=" padding-top: 10px; text-align: center;">JavaScript</p>
              </mat-list>
            </div>
          </div>
    </section>
</div>


