<div class="container" style="padding-top: 70px;">
    <section style="flex: 1; display: flex; flex-direction: column; align-items: center;">
        <h1 style="margin-bottom: 15px;">Skills</h1>
        <div class="grid-container" style="padding-top: 20px;">
            <div class="col">
              <mat-list>
                <img src="assets/html.png" alt="" style="width: 90px; height: 80px;">
                <p style="padding-top: 10px; text-align: center;">HTML5</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/css-3.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">CSS</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/java-script.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">JavaScript</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/github.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">GitHub</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/html.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">Angular.js</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/atom.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">React.js</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/java.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">Java</p>
              </mat-list>
            </div>
            <div class="col">
              <mat-list>
                <img src="assets/php-programming-language.png" alt="" style="width: 90px; height: 80px;">
                <p style=" padding-top: 10px; text-align: center;">PHP</p>
              </mat-list>
            </div>
          </div>
    </section>
</div>


