
<div class="container">
  <div class="content" style="display: flex; justify-content: center;">
    <div class="row align-items-center">
      <div class="col-md-6" style="white-space: nowrap; padding-top: 110px;" >
        <mat-card-content style="font-size: 17.5px;">Welcome, my name is</mat-card-content>
        <mat-card-content style="font-weight: bold; font-size: 40px;">Keshawn Thomas</mat-card-content>
        <mat-card-content style="font-size: 17.5px;">and I'm a Software Developer. </mat-card-content>
        <a href="https://www.linkedin.com/in/keshawn-thomas-909203161" role="button" class="btn btn-primary btn-dark" target="_blank" style="margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
          LinkedIn <img mat-card-lg-image src="" style="height: 27px;  width: 30px; background-color: white;">
        </a>
        <a href="https://github.com/Keshawn287" role="button" class="btn btn-primary btn-dark" target="_blank" style="margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
          GitHub <img mat-card-lg-image src="" style="height: 27px;  width: 30px; background-color: white;">
        </a>
        <a href="https://drive.google.com/file/d/1zEo-79raMdWOAOL3TXHAC8tCxY5FA3va/view?usp=share_link" role="button" class="btn btn-primary btn-dark" target="_blank" style="margin-right: 10px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
          Resume <img mat-card-lg-image src="" style="height: 27px;  width: 30px; background-color: white;">
        </a>
      </div>
      <div class="col-md-6" style="padding-left: 50px;">
        <mat-card style="align-items: center; height: 350px; width: 300px; background-color: white;">
            <img mat-card-lg-image src="assets/project2-image.jpg" style="height: 350px;  width: 300px;">
        </mat-card>
      </div>
    </div>
  </div>
</div>



  